##########################
# Active profile
##########################
spring:
  profiles:
    active: dev
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/postgresql
  jpa:
    properties:
      hibernate:
        ddl-auto: validate
##########################
# Server configuration
##########################
server:
  port: 8005
  baseUrl: http://localhost:8005
  error:
    include-message: always

##########################
# Logging configuration
##########################
logging:
  level:
    org:
      apache:
        http: INFO
      opendatamesh:
        platform.*: DEBUG
    httpclient:
      wire: INFO

##########################
# Doc configuration
##########################
springdoc:
  swagger-ui:
    operationsSorter: alpha






