##########################
# Active profile
##########################
spring:
  profiles:
    active: dev 
    #testmysql 
    #testpostgresql

server:
  port: 8002
  error:
    include-message: always
  servlet:
    context-path: /api/v1/pp/devops/

##########################
# Logging configuration
##########################
logging:
  level:
    org:
      apache:
        http: INFO
      opendatamesh:
        platform.*: DEBUG
    httpclient:
      wire: INFO
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter: DEBUG

##########################
# Doc configuration
##########################
springdoc:
  swagger-ui:
    operationsSorter: alpha






